/venv/
/.idea
/.idea/
/api/__pycache__
/api/bin
/api/lib
/api/include
/api/share
/.venv
node_modules
.DS_Store
api/DOC/
api/target/
target/
/api/tmp/
/.vscode
/tmp
/api/pyvenv.cfg
/DOC
# Ignore Python bytecode files
*.pyc
*.pyo
*.pyd
working*.json
baseline*.json

# Ignore __pycache__ directories
__pycache__/
/venv/
/genai-venv-v2/
genai-venv
/genai-venv/
**/genai-venv/
/api/chunks/__pycache__
.DS_Store
**/venv/
**/.DS_Store
.env
__pycache__/
credentials.json